.faq_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

body {
    background-color: black;
}

.faq_head {
    font-size: 3.3rem;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Orbitron', sans-serif;
    color: #06F8DB;
    margin-left: 30px;
    margin-bottom: 3rem;
}

.left {
    margin-top: 50px;
}

.right {
    padding: 30px 50px;
}

.question {
    font-size: 1.6rem;
    padding: 20px 20px;
    font-family: 'Nunito Sans', sans-serif;
    width: 58vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.answer {
    font-size: 1.4rem;
    padding: 5px 20px;
    padding-bottom: 20px;
    width: 55vw;
    color: rgb(157, 155, 155);
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.1rem;
}

.faq_set {
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 0.15rem 1rem;
    width: 60vw;
    /* background: linear-gradient(to right bottom , #02a08d2e , black); */
    box-shadow: 0px 0px 25px -5px #06f8dc4e inset;
}

.add {
    font-size: 40px;
    padding: 0 10px;
}

@media screen and (max-width:600px) {
    .faq_set{
       padding: 0 1rem;
    }
}

@media screen and (max-width:350px) {
    .faq_set{
       /* padding: 0 2rem; */
       padding-right: 3rem;
    }
}