.sponsor-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
}

.sponsor-Head {
    color: #06F8DB;
    font-family: Orbitron;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sponsor-img {
    width: 20.3125rem;
    height: 10.5rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width:720px) {
    .sponsor-Head {
        font-size: 3rem;
    }

    .sponsor-img {
        width: 25rem;
        height: 26.19rem;
    }
}

@media only screen and (max-width:440px) {
    .sponsor-Head {
        font-size: 2.7rem;
    }

    .sponsor-img {
        width: 18rem;
        height: 19.19rem;
    }
}