.carousel_elastic {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.carousel_head {
    font-size: 3.5rem;
    color: #06F8DB;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

button.rec-dot {
    background-color: rgb(16, 228, 235);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
    box-shadow: 0 0 3px 2px rgba(136, 250, 250, 0.5);
}

.custom_icon {
    color: #06F8DB;
    font-size: 2.6rem;
    transition: all 0.25s ease-in-out;
    border-radius: 50%;
}

.custom_icon:hover {
    box-shadow: 0px 0px 10px 4px #06f8dc6d;
    transform: scale(1.1);
}

.item_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57vh;
    width: 40vw;
    margin: 0 15px;
    transition: all 0.25s ease-in-out;
}

.item_img:hover {
    transform: scale(1.03);
}

.item_set {
    margin-top: 2rem;
}

.item_head {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
    .item_img {
        width: 38vw;
        height: 48vh;
    }

    .carousel_elastic {
        height: 60vh;
    }
}

@media only screen and (max-width: 900px) {
    .item_img {
        width: 35vw;
        height: 40vh;
    }

    .carousel_elastic {
        height: 50vh;
    }
}

@media only screen and (max-width: 720px) {
    .item_img {
        width: 60vw;
        height: 45vh;
    }

    .carousel_elastic {
        height: 55vh;
    }
}

@media only screen and (max-width: 525px) {
    .item_img {
        width: 55vw;
        height: 35vh;
    }

    .carousel_elastic {
        height: 45vh;
    }
}

@media only screen and (max-width: 500px) {
    .carousel_head {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 450px) {
    .item_head {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 420px) {
    .item_img {
        width: 50vw;
        height: 30vh;
    }

    .carousel_elastic {
        height: 35vh;
    }

    .carousel_head {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .item_head {
        font-size: 2rem;
    }

    .item_img {
        width: 45vw;
        height: 25vh;
    }

    .carousel_elastic {
        height: 30vh;
    }
}

@media only screen and (max-width: 354px) {
    .item_head {
        font-size: 1.75rem;
    }
}