@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide>div {
  margin: 0 52px;
}

.slick-dots li.slick-active button:before {
  color: orange !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

@font-face {
  font-family: "Nico Moji";
  src: url("./assets/fonts/NicoMoji-Regular.ttf") format("truetype");
  /* Add additional font formats here for better compatibility */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nico Moji";
  src: url("./assets/fonts/NicoMoji-Regular.ttf") format("truetype");
  /* Add additional font formats here for better compatibility */
  font-weight: bold;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(0, 0, 0);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #06f8db;
  border-radius: 5px;
}